.products {
  padding: 40px 32px 40px 56px;
  flex: 1;
}

.summary {
  display: flex;
  flex-flow: column wrap;
  padding: 40px 32px;
  width: 312px;
  background-color: #f3f3f3;
  color: #212240;
}

.summary > * {
  width: 100%;
}
