.products {
  padding: 40px 32px 40px 56px;
}

.productsList {
  position: relative;
  width: 100%;
}

.row {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.row + .row {
  margin-top: 32px;
}

[class*='col'] {
  display: flex;
  align-items: center;
}

[class*='col']:nth-child(n + 2) {
  justify-content: center;
}

.colProduct {
  width: 45%;
}

.colQuantity {
  width: 20%;
}

.colPrice {
  width: 20%;
}

.colTotal {
  width: 15%;
}
